#search-title{color: white;border-bottom: 4px #11ABB0 solid ; width: auto;height: auto;padding-bottom: 12px; margin-top: 25px}
body{background: #383232 url(../images/header-bg.jpg); }

#users-title{color: white;border-bottom: 1px #11ABB0 solid ; width: 800px;height: auto;padding-bottom: 5px; margin-top: 25px}
#tags-title{color: white;border-bottom: 1px #11ABB0 solid ; width: 800px;height: auto;padding-bottom: 5px; margin-top: 25px}
#users-results{background-color: #EFF1F0;width: 800px;height: auto}
#tags-results{background-color: #EFF1F0;width: 800px;height: auto}

#search-title a{color:white; float: right; font-size: 15px}
#search-title a:hover{font-size: 17px}

#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;

    /* Specify the width of your pageslide here */
    width: 350px;
    padding: 10px;

    /* These styles are optional, and describe how the pageslide will look */
    background: #383232 url(../images/header-bg.jpg);
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 3px 3px #222;
}
